{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{ title }}</h1>
    <h2>{{ message }}</h2>
    <p>
        When I have free time, and need to relax, I will often turn to a good story or start up a game on my computer to have some fun.
        Reading and video games have been my favored hobbies since I was young, and I still find both enjoyable!
    </p>
</div>

<div class="center">
    <h3>I can get lost in a good story</h3>
    <img src="static/image/Reading.jpg" width="800" height="800" />
</div>

<div class="center">
    <h3>And nothing lifts my spirits like an exciting game!</h3>
    <img src="static/image/Video Games.jpeg" width="800" height="800" />
</div>

<p>
    All I need is a good book or a fun game to take my mind off my worries and relax after a long, tiring day.
</p>

{% endblock %}
