{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome to David's program showcase!</h1>
    <p class="lead">I am David Bowen, a college student finishing up his second and final year at TSTC. I major in computer programming, and it's been an exciting experience! During my time here, I've learnt so much and aquired many skills I plan to take with me into a satisfying career.</p>
    <p>I plan on graduating Fall 2024, the semester where I'll be taking my final course. It'll be scary to move on from the college I'm familiar with, but I want to make the most of what I've learnt and apply it elsewhere. I've been taught so much here over just two years, and my helpful
        instructors have made it a fun experience. Below, I've included some videos displaying work that I am proud of.</p>
</div>

<div class="center">
    <img src="static/image/TSTC Waco.jpg"/>
</div>

{% endblock %}
